<div class="row">
  <div class="col-lg-6 col-sm-12 card" style="display: block">
    <canvas baseChart height="100%" width="100%"
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [colors]="doughnutChartColors"
      [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-lg-6 col-sm-12 expense-table">
    <button class="btn" (click)="randomize()">Change Dataset</button>
    <table class="table table-responsive table-condensed">
      <h1>Most Recent Expenses</h1>
      <tr *ngFor="let e of expenses.reverse()">
          {{
            'Item: ' + e.expenseName
            + ' ' + '-----' + ' '
            + 'Amount: ' + '$' + e.expenseAmount
            + ' ' + '-----' + ' '
            + 'Date: ' + e.timeStamp +'\n'
          }}
      </tr>
    </table>
  </div>
</div>
