<div class="row fade-in">
  <div class="col-lg-6 col-sm-12 card" style="display: block">
    <!-- Will only render canvas after expenseList object array has been loaded from Firebase -->
    <canvas baseChart height="100%" width="100%" *ngIf="expenseList.length !== 0"
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [colors]="doughnutChartColors"
      [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-lg-6 col-sm-12 expense-table" style="display: block">
    <button class="btn" (click)="randomize()">Randomize!</button>

    <!-- Only click works for select here -->
    <div>
      <label for="profileName">Expense Profile</label>
      <select
        type="text"
        class="form-control bottom-spacing"
        name="profileName"
        #profileName="ngModel"
        [(ngModel)]="profileService.selectedProfile.profileName"
        (click)="onSelect(profileService.selectedProfile.profileName)"
        required
      >
        <option value="" disabled selected>Select A Profile</option>
        <option *ngFor="let profile of profileList" value="{{ profile.profileName }}">{{ profile.profileName }}</option>
      </select>
    </div>

    <h2>Recent Expenses</h2>
    <table class="table table-sm table-hover">
      <tr>
        <th>Group</th>
        <th>Name</th>
        <th>Amount [$]</th>
        <th>Expense Date</th>
      </tr>
      <tr *ngFor="let expense of expenseList">
        <td>{{ expense.expenseGroup }}</td>
        <td>{{ expense.expenseName }}</td>
        <td>{{ expense.expenseAmount }}</td>
        <td>{{ expense.timeStamp }}</td>
      </tr>
    </table>
  </div>
</div>
