<div class="row">
  <div class="col-lg-6 col-sm-12 card" style="display: block">
    <canvas *ngIf="expenseList.length !== 0" baseChart height="100%" width="100%"
      [data]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [colors]="doughnutChartColors"
      [chartType]="doughnutChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
  <div class="col-lg-6 col-sm-12 expense-table">
    <!-- <button class="btn" (click)="randomize()">Change Dataset</button> -->
    <h1>Recent Expenses</h1>
    <table class="table table-sm table-hover">
      <tr>
        <th>Group</th>
        <th>Name</th>
        <th>Amount [$]</th>
        <th>Expense Date</th>
      </tr>
      <tr *ngFor="let expense of expenseList">
        <td>{{ expense.expenseGroup }}</td>
        <td>{{ expense.expenseName }}</td>
        <td>{{ expense.expenseAmount }}</td>
        <td>{{ expense.timeStamp }}</td>
      </tr>
    </table>
  </div>
</div>
