<div class="row fade-in" *ngIf="expenseList.length !== 0">
  <div class="col-lg-6 col-sm-12">
    <div style="display: block;">
    <!-- Will only render canvas after expenseList object array has been loaded from Firebase -->
    <canvas baseChart width="400" height="400"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 expense-table">
    <button class="btn" (click)="randomize()">Change Dataset</button>
    <h2>Recent Expenses</h2>
    <table class="table table-sm table-hover">
      <tr>
        <th>Group</th>
        <th>Name</th>
        <th>Amount [$]</th>
        <th>Expense Date</th>
      </tr>
      <tr *ngFor="let expense of expenseList">
        <td>{{ expense.expenseGroup }}</td>
        <td>{{ expense.expenseName }}</td>
        <td>{{ expense.expenseAmount }}</td>
        <td>{{ expense.timeStamp }}</td>
      </tr>
    </table>
  </div>
</div>
