<div class="row">
  <div class="col-md-6 col-sm-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6 col-sm-6" style="margin-bottom: 10px">
    <button class="btn" (click)="randomize()">Change Dataset</button>
    <table class="table table-responsive table-condensed">
      <h1>Most Recent Expenses</h1>
      <tr *ngFor="let e of expenses.reverse()">
          {{
            'Item: ' + e.expenseName
            + ' ' + '-----' + ' '
            + 'Amount: ' + '$' + e.expenseAmount
            + ' ' + '-----' + ' '
            + 'Date: ' + e.timeStamp +'\n'
          }}
      </tr>
    </table>
  </div>
</div>
