<div class="container color-dark">
  <div class="col">
    <p>Expense Form</p>
  </div>
  <div class="col">
    <p>Recent Expenses ({{ itemCount }})</p>
  </div>
</div>
<div class="container color-light" [@formDB]="formDB.length">
  <div class="col">

    <form id="forms">
    <div>
        <label for="group">Expense Group</label>
        <select
          type="text"
          class="txt"
          name="group"
          [(ngModel)]="group"
        >
          <option value="" disabled selected>Choose A Group</option>
          <option value="Food [$]">Food</option>
          <option value="Gas [$]">Gas</option>
          <option value="Utilities [$]">Utilities</option>
          <option value="Other [$]">Other</option>
        </select>
      </div>
      <div>
        <label for="item">Expense Name</label>
        <input
          type="text"
          class="txt"
          name="item"
          placeholder="Enter the name of your expense..."
          [(ngModel)]="name"
        >
      </div>
      <div>
          <label for="amount">Amount</label>
          <input
            class="txt"
            type="number"
            name="amount"
            placeholder="Enter the amount..."
            min="0.01"
            step="0.01"
            [(ngModel)]="amount"
          >
      </div>
      <div>
          <label for="date">Transaction Date</label>
          <input
            class="txt"
            type="date"
            name="date"
            placeholder="Enter the date..."
            [(ngModel)]="date"
          >
      </div>
      <input type="submit" class="btn" (click)="addExpense()">
    </form>

  </div>
  <div class="col">
    <p class="life-container" *ngFor="let e of formDB">
      {{
        'Item: ' + e.expenseName
        + ' ' + '-----' + ' '
        + 'Amount: ' + '$' + e.expenseAmount
        + ' ' + '-----' + ' '
        + 'Date: ' + e.timeStamp +'\n'
      }}
    </p>
  </div>
</div>
