<form #expenseForm="ngForm" (ngSubmit)="onSubmit(expenseForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="dataService.selectedExpense.$key">
  <div class="form-group">
    <label>Expense Group</label>
    <input class="form-control" name="expenseGroup" #expenseGroup="ngModel" [(ngModel)]="dataService.selectedExpense.expenseGroup" placeholder="Expense Group" required>
  </div>
  <div class="form-group">
    <label>Expense Name</label>
    <input class="form-control" name="expenseName" #expenseName="ngModel" [(ngModel)]="dataService.selectedExpense.expenseName" placeholder="Expense Name" required>
  </div>
  <div class="form-group">
    <label>Expense Amount</label>
    <input class="form-control" name="expenseAmount" #expenseAmount="ngModel" [(ngModel)]="dataService.selectedExpense.expenseAmount" placeholder="Expense Amount" required>
  </div>
  <div class="form-group">
    <label>Expense Date</label>
    <input class="form-control" name="timeStamp" #timeStamp="ngModel" [(ngModel)]="dataService.selectedExpense.timeStamp" placeholder="Expense Date" required>
  </div>
  <div class="form-group">
    <button class="btn btn-default" type="submit" [disabled]="!expenseForm.valid">
      <i class="fa fa-floppy-o"></i>
      Submit</button>
    <button class="btn btn-default" type="button" (click)="resetForm(expenseForm)">
      <i class="fa fa-repeat"></i>
      Reset</button>
  </div>
</form>
